html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: black;
}

.titlecont{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.titlecont video {
	width: 100% !important;
}

.mutoggle{
	position: fixed;
	z-index: 50;
	top: 50px;
	border-radius: 20px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	right: 50px;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	background-color: rgba(19, 19, 19, 0.3) ;
}

	input, button, submit { border:none; } 

	.vdwn, .vup{
	cursor: pointer;
	margin: 10px;
	width: 20px;
	height: 20px;
	padding: 15px;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	background-color: rgba(19, 19, 19, 0.3) ;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px ;
	transition: 0.4s;
	}

	:focus {
	 background: gray;
	 color: black;
	 transition: 0.4s;
	}

h2{
	color: white;
	padding: 60px;
	height: auto;
	font-size: 70px;
}

#container{
	background-color: black;
	width: 500px;
	height: 500px;
	overflow: hidden;
	display: flex;
	cursor: move;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

#container:hover{
	padding: 130px;
	transition: 0.4s;
}

.overcont{
	width: 100%;
	height: 100%;
	background-color: #2d2b28;
	display: flex;
	justify-content: center;
	align-items: center;
}


.vidcont{
	width: 100%;
	height: 850px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: solid white 2px;*/
	border-radius: 20px;
	overflow: hidden;
/*	background-color: green;*/

}

.hidden{
	/*display: none !important;*/
	visibility: hidden;
/*	opacity: 0;*/
	width: 0px;
	height: 0px;
	transition: 0.4s;
}

.allcont{
	background-color: black;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

video{
	z-index: 2;
	pointer-events: none;
	width: 200%;
}

.textcont{
	height: 560px;
	width: 650px;
	scroll-snap-type: y mandatory;
	display: flex;
	border-radius: 20px;
	align-items: center;
	/*justify-content: center;*/
	position: absolute;
	overflow: scroll;
	/*	opacity: 0;*/
	/*pointer-events: none;*/
	transition: 0.4s;
	padding: 20px;
	flex-direction: column;
	background-color: #2d2b28;
}

.textcont::-webkit-scrollbar {
    display: none;
}

.bttm{
	height: 1100px;
}

#t1{
	/*opacity: 0;*/
	transition: 0.4s;
	/*margin-top: 1100px;*/
}


	[class^='clstxt']{
	top: 25px;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	background-color: rgba(19, 19, 19, 0.3) ;
	width: 50px;
	padding: 5px;
	z-index: 20;
	transition: 0.4s;
	height: 20px;
	cursor: pointer;
	border-radius: 20px;
	/*position: absolute;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

[class^='clstxt']:hover{
	width: 75px;

}


[class^='inbtwtext']{
	width: 100%;
	flex-direction: column;
/*	position: absolute;*/
	height: 1000px;
	scroll-snap-align: center;
	/*z-index: 20;*/
	margin-bottom: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}


p{

	color: white;
	transition: 0.4s;
	margin-top: 10px;
	font-weight: 200;
	z-index: 20;
	pointer-events: none;
	font-size: 45px;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	background-color: rgba(19, 19, 19, 0.3) ;
	border-radius: 20px;
	width: 350px;
	font-family: "roboto";
	padding: 40px;
	filter: drop-shadow(10px 10px 20px black)
}

h1{
	font-family: "roboto";
	font-size: 17px;
	font-weight: 100;
	/*background-color: white;*/
	color: white;
/*	padding: 5px;
	border-radius: 5px;*/
}


[id^="intract"]{
	width: 20px;
	height: 20px;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	background-color: rgba(19, 19, 19, 0.3) ;
	/*border: solid white 3px;*/
	position: absolute;
	z-index: 10;
	padding: 10px;
	opacity: 0;
	/*-webkit-display: flex !important;*/
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.4s;
	border-radius: 30px;
}

[id^="intract"]:hover{
	transition: 0.4s;
	/*width: 50px;*/
	padding-left: 37px;
	opacity: 1;
	/*height: 50px;*/
}



[id^="clue"]{
	width: 20px;
	height: 20px;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	background-color: rgba(19, 19, 19, 0.3) ;
	/*border: solid white 3px;*/
	position: absolute;
	z-index: 10;
	overflow: hidden;
	padding: 10px;
	cursor: default;
	opacity: 1;
	/*-webkit-display: flex !important;*/
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s;
	text-align: center;
	border-radius: 100px;
}

[id^="clue"] h1{
	opacity: 0;
	/*transition: 0.4s;*/
}

[id^="clue"]:hover h1{
	opacity: 1;
	/*transition: 0.4s;*/
}

[id^="clue"]:hover{
	width: 80px;
	height: 120px;
	border-radius: 20px;
	transition: 0.4s;
}

#clue_a1{
	margin-right: 50%;
}

#clue_a2{
	margin-top: 10%;
}

#clue_a3{
	margin-right: 30%;
    margin-bottom: 10%;
}

#clue_a4{
	margin-top: 5%;
    margin-left: 40%;
}

#clue_a5{
	margin-top: 15%;
    margin-left: 40%;
}

#clue_a6{
	margin-top: 10%;
}

#clue_a7{
	margin-top: 17%;
}

#clue_a8{
	margin-top: 10%;
    margin-right: 35%;
}

#clue_a9{
	margin-top: 10%;
    margin-right: 50%;
}

#clue_a10{
	margin-top: 10%;
    margin-left: 30%;
}

#clue_a11{
	margin-bottom: 20%;
    margin-right: 50%;
}

#clue_a12{
	margin-top: 10%;
}

#clue_a13{
	margin-bottom: 20%;
}

#clue_a14{
	margin-bottom: 30%;
    margin-left: 30%;
}

#clue_a15{
	margin-top: 20%;
    margin-right: 50%;
}

#clue_a16{
	margin-top: 30%;
    margin-left: 50%;
}

#clue_a17{
	margin-top: 30%;
    margin-right: 1%;
}

#clue_a18{
	margin-top: 26%;
    margin-left: 50%;
}

#clue_a19{
	margin-top: 10%;
    margin-left: 35%;
}

#clue_a20{
	margin-top: 30%;
}




#intract{
margin-left: 40%;
}

#intract2{
	display: flex;
	left: 380px;
	margin-bottom: 20px;
}

#intract3{
	display: flex;
	left: 580px;
}

#intract4{
	display: flex;
	left: 620px;
}

#intract5{
	display: flex;
	left: 720px;
}

#intract6{
	display: flex;
	left: 330px;
	margin-bottom: 40px;
}

#intract7{
	display: flex;
	margin-right: 30px;
}

#intract8{
	display: flex;
	margin-bottom: 50px;
}

#intract9{
	display: flex;
	left: 420px;
}

audio{
	z-index: 50;
	display: none;
}

.interface{
	backdrop-filter: blur(10px);
	background-color: rgba(19, 19, 19, 0.3) ;
	width: 40px;
	z-index: 20;
	height: 30px;
	/*position: fixed;*/
	/*top: 45px;*/
	/*margin-top: 540px;*/
	transition: 0.4s;
	cursor: pointer;
	padding: 2px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.interface:hover{
	width: 70px;
	transition: 0.4s;
}

i{
	color: white;
}








