body,html{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/*body{
	background-color: #bebba6;
}*/

audio{
	margin-top: 20px;
}


.pop{
	width: 150px;
	height: auto;
	background-color: green;
	position: absolute;
	top: 20px;
	font-size: 10px;
	left: 200px;
	display: none;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	background-color: white;
}

.pop3{
	width: 150px;
	height: auto;
	background-color: green;
	position: absolute;
	top: 20px;
	font-size: 10px;
	left: 250px;
	display: none;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	background-color: white;
}

.pop img{
	margin-top: 5px;
	height: 230px;
}

span{
	font-weight: bold;
	transition: 0.4s;
	cursor: pointer;
	color: orange;
}

span:hover{
border-radius: 5px;
background-color: white;
color: orange;

}

iframe{
	border-radius: 20px;
}

a{
	color:#deb43a;
	font-weight: bold;
	transition: 0.5s;
	cursor: pointer;
	text-decoration: none;
}

a:hover{
	background-color: white;
	color: black;
	transition: 0.5s;
	border-radius: 5px;

}


p{
	font-weight: 500;
	font-family: roboto;
	color: black;
	text-align: left;
	margin: 0px;
}

.item{
	/*width: 300px !important;*/
	padding: 20px;
}

.imgct{
	width: 100%;
	height: 100%;
	background-color: #212121;
	display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tback_1, .tback_2 {
	background-color: green;
	width: 100%;
}

.owl-carousel{
	overflow: auto;
	width: 500px !important;
	padding: 60px;
	border-radius: 20px;
	background-color: #e9e8de;
	display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-magnifier-glass {
  position: absolute;
  border: 0px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20%;
  /*Set the size of the magnifier glass:*/
  width: 90px;
  height: 90px;
}

img{
	cursor: none;
	border-radius: 20px !important;
	object-fit: cover;
}


.cvrct img{
	height: 500px;
	border-radius: 20px;
}

.how .how-works {
    display: none;
    left: 1%;
    position: absolute;
    top: 22px;  /* 312px;*/
    z-index: 10;
    transition: 0.4s;
}

.how:hover .how-works {
    display: block;
    transition: 0.4s;
}

.how .how-works.bubble-outer {
    background: #fff; 
    border-radius: 5px; 
    padding: 15px;
    transition: 0.4s;
}

